@{
    ViewData["Title"] = "Statistics";
}

    <div class="text-center">
        <h1 class="display-4">System Health</h1>
        <p><strong>Unconsumed messages</strong>:  @ViewData["messageCount"]</p>
    </div>
